* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  padding: 3vw;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.logo img {
  min-width: 4rem;
  max-width: 4rem;
  height: auto;
  border-radius: 50%;
}

body {
  font-size: 16px;
  margin: 0rem;
  background-image: url(marble.jpeg);
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
}

h1 {
  font-family: sans-serif;
  font-size: 3vw;
  text-align: center;
  color: rgb(94, 77, 77);
  text-transform: uppercase;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  padding-top: 15vw;
  color: rgb(131, 112, 112);
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: 0.1rem;
  font-weight: bolder;
  padding-bottom: 1vw;
}

h3 {
  font-family: sans-serif;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  color: rgb(119, 100, 100);
}

h4 {
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: lighter;
  color: rgb(90, 77, 77);
}

p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.1vw;
  color: rgb(54, 47, 47);
  line-height: 2;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  padding-top: 1vw;
  text-align: left;
  background-color: rgb(209, 198, 198);
  border-radius: 2rem;
  padding: 2vw;
  margin: 2vw;
}

a {
  font-family: sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
}

#tema2_responsivesite {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}
#tema2_styletile {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}
#tema3_link_prototype {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}
#tema3_link_pitch {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}
#tema4_link_spil {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

#tema4_dokumentationssite {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}
#tema5_redesign {
  color: rgb(85, 74, 74);
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;

  width: 100%;
  transition: top 0.3s;

  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: rgb(139, 132, 132);
  align-items: center;
  flex-wrap: wrap;
}

header nav {
  display: contents;
}

header a {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin: 0.1rem;
}

nav #menu {
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  transform: none;
  list-style: none;

  margin-top: 0.5vw;
  flex-basis: 100%;
}

#menu li a:hover {
  color: rgb(78, 64, 64);
  border-radius: 0.2rem;
}

#menu li {
  white-space: nowrap;
}


.forside p {
  text-align: center;
  background-color: rgb(133, 121, 121);
  color: white;
  border: none;
  border-radius: 1rem;
  animation: pulse 1s infinite;
  padding: none;
  font-weight: bolder;
  text-transform: uppercase;
  min-width: 10rem;
  max-width: 15rem;
}

.forside p:hover {
    background-color: rgb(196, 171, 171);
}



.hidden {
  display: none;
}

#tema2_overskrift {
  margin: 0rem;
  padding: 0rem;
  padding-top: 6rem;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

#tema2_underoverskrift {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

#menuknap {
  font-family: sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 0rem;
  padding: 0.5rem;
  background-color: rgb(233, 232, 232);
  color: rgb(68, 61, 61);
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
@media (min-width: 400px) {
  p {
    font-size: 0.8rem;
    padding: 2.5vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 700px) {
  #first_section .section_wrapper {
    grid-template-columns: 1fr 1fr;
  }

  nav {
    display: flex;
  }

  nav #menu {
    flex-basis: 0;
  }

  header ul {
    display: flex;
  }
  header {
    justify-content: space-between;
  }

  #menuknap {
    display: none;
  }

  .hidden {
    display: flex;
  }
}

@media (min-width: 996px) {
  .logo img {
    width: 100px;
  }
  .logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  nav #menu {
    padding-right: 1rem;
  }
  #third_section figure {
    width: 100%;
  }

  #forside {
    height: 80vw;
  }
}

#second_section,
#third_section {
  margin-left: 3vw;
  margin-right: 3vw;
}

@media (max-width: 500px) {
  figure {
    height: auto;
  }

  #second_section,
  #third_section {
    text-align: center;
  }

  #third_section img {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  p {
    padding: 5vw;
    margin: 4vw;
  }

  #forside {
    background-image: url(marble.png);
    background-size: cover;
  }
}

@media (min-width: 500px) {
  #second_section,
  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1vw;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 5vw;
  }

  #third_section_left {
    grid-column: 2/-1;
  }

  #third_section_right {
    margin-right: 0vw;
    grid-row: 1/2;
    margin-left: 1vw;
  }

  #second_section_right {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  #second_section img {
    width: 80%;
    height: auto;
    margin-left: 4vw;
    margin-top: 5vw;
  }
  #third_section img {
    width: 80%;
    height: auto;
    margin-top: 3.5vw;
    margin-left: 5vw;
  }
}

#first_section .section_wrapper {
  display: grid;
  gap: 4vw;
  margin: 5vw;
}

.col_left {
  display: grid;
  place-content: center;
}

#first_section .col_right {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}
