* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}
article {
  padding: 3vw;
  text-align: left;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

body {
  font-size: 16px;
  margin: 0rem;
  background-color: rgb(102, 83, 83);
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
}

h1 {
  font-family: sans-serif;
  font-size: 3vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: sans-serif;
  font-size: 3vw;
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: sans-serif;
  font-size: 2vw;
  color: black;
}

h4 {
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: lighter;
  color: white;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.1vw;
  color: white;
  line-height: 2;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  padding-top: 1vw;
}

a {
  font-family: sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
}

#knap {
  background: gray;
  color: rgb(102, 83, 83);
  padding: 0.1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

#knap:hover {
  background: rgb(102, 83, 83);
  color: rgb(102, 83, 83);
}

#knap p {
  color: rgb(102, 83, 83);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;

  width: 100%;
  transition: top 0.3s;

  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: black;
  align-items: center;
  flex-wrap: wrap;
}

header nav {
  display: contents;
}

header a {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin: 0.1rem;
}

nav #menu {
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  transform: none;
  list-style: none;

  margin-top: 0.5rem;
  flex-basis: 100%;
}

#menuknap {
  font-family: sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;

  margin: 0rem;
  padding: 0.3rem;
  background: var(rgb(102, 83, 83));
  color: rgb(102, 83, 83);
}

#menuknap:hover {
  background-color: rgb(102, 83, 83);
  color: black;
}

#menu li a:hover {
  background: rgb(136, 114, 114);
  color: black;
  border-radius: 0.2rem;
}

#menu li {
  white-space: nowrap;
}

.hidden {
  display: none;
}

@media (min-width: 500px) {
  p {
    font-size: 1.1vw;
  }

  h3 {
    font-size: 3vw;
  }

  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 700px) {
  nav {
    display: flex;
  }

  nav #menu {
    flex-basis: 0;
  }

  header ul {
    display: flex;
  }

  #menuknap {
    display: none;
  }

  .hidden {
    display: flex;
  }
}

@media (min-width: 996px) {
  .logo img {
    width: 100px;
  }

  header a {
    margin: 0.2rem 1rem 0.2rem 1rem;
  }

  nav #menu {
    padding-right: 1rem;
  }
}

@media (min-width: 1000px) {
  footer {
    padding-left: 12vw;
    padding-right: 12vw;
  }

  #right img {
    width: 2vw;
  }

  #left img {
    width: 4vw;
  }

  #visa {
    padding-top: 0.5vw;
  }
}

#second_section,
#third_section {
  margin-left: 3vw;
  margin-right: 3vw;
}

#first_section {
  background-size: 100%;
  width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
}


h2 {
  text-align: center;
  padding-top: 20vw;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: 0.1rem;
  font-weight: lighter;
}

h3 {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  color: white;
}

@media (max-width: 500px) {
  figure {
    height: auto;
  }

  #second_section,
  #third_section {
    text-align: center;
  }

  #second_section img {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
  }
  #third_section img {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 500px) {
  #second_section,
  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1vw;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 5vw;
  }

  #third_section_left {
    grid-column: 2/-1;
  }

  #third_section_right {
    margin-right: 0vw;
    grid-row: 1/2;
    margin-left: 1vw;
  }

  #second_section_right {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  #second_section img {
    width: 80%;
    height: auto;
    margin-left: 4vw;
    margin-top: 5vw;
  }
  #third_section img {
    width: 80%;
    height: auto;
    margin-top: 3.5vw;
    margin-left: 5vw;
  }
}
  
  #first_section .section_wrapper {
    display: grid;
    gap: 4vw;
    margin: 7vw;
  }
  
  .col_left {
    display: grid;
    place-content: center;
  }
  
  /*.col_left img {
    height: 65vw;
  }*/
  
  #first_section .col_right {
    display: flex;
    flex-direction: column;
    /*gap: 3vw;*/
    gap: 2rem;
    padding: 1vw;
  }
  
  #first_section button {
    border: none;
  }
  
  #knapper {
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  
  #pris {
    display: flex;
    gap: 5vw;
  }
  
  #antal {
    display: flex;
    gap: 4.5vw;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown #knap {
    margin: 0;
  }
  
  .dropdown_button {
    padding: 1vw;
    background-color: lightgrey;
    color: black;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10vw;
    box-shadow: 0vw 2vw 3vw 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown_content {
    display: block;
  }
  
  .dropdown_content:hover {
    background-color: white;
  }
  
  .dropdown_content a:hover {
    background-color: #f1f1f1;
  }
  .relaterede_produkter {
    text-align: center;
  }
  
  .produkt1234 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4vw;
    gap: 2vw;
  }
  
  /*.produkt1234 img {
    height: 28vw;
    width: 20vw;
  }*/
  
  .container1 {
    position: relative;
    max-width: 300px;
  }
  
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    background: rgb(196, 196, 196);
    background: rgba(231, 231, 231, 0.5);
    color: black;
    /*width: 93%;*/
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  
  .container2 {
    position: relative;
    max-width: 300px;
  }
  
  .image2 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay2 {
    position: absolute;
    bottom: 0;
    background: rgb(196, 196, 196);
    background: rgba(231, 231, 231, 0.5);
    color: black;
    /*width: 93%;*/
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container2:hover .overlay2 {
    opacity: 1;
  }
  
  .container3 {
    position: relative;
    max-width: 300px;
  }
  
  .image3 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay3 {
    position: absolute;
    bottom: 0;
    background: rgb(196, 196, 196);
    background: rgba(231, 231, 231, 0.5);
    color: black;
    /*width: 93%;*/
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container3:hover .overlay3 {
    opacity: 1;
  }
  
  .container4 {
    position: relative;
    max-width: 300px;
  }
  
  .image4 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay4 {
    position: absolute;
    bottom: 0;
    background: rgb(196, 196, 196);
    background: rgba(231, 231, 231, 0.5);
    color: black;
    /*width: 93%;*/
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container4:hover .overlay4 {
    opacity: 1;
  }
  
  @media (min-width: 500px) {
    #first_section .section_wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  